<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        input{
            display: block;
        }
    </style>
</head>
<body>
    <form action="/web/register" method="post">
        {% csrf_token %}
        <p>{{ fm_obj.user_name }} {{ fm_obj.errors.user_name.0 }}</p>
        <p>{{ fm_obj.user_pwd }} {{ fm_obj.errors.user_pwd.0 }}</p>
        <p>{{ fm_obj.user_tel }} {{ fm_obj.errors.user_tel.0 }}</p>
        <p>{{ fm_obj.user_email }} {{ fm_obj.errors.user_email.0 }}</p>
        <input type="submit" value="提交">

    </form>
</body>
</html>